# Backend API URL (adjust based on your environment)
#VITE_API_URL=http://localhost:5000

# Optional: Uncomment for production
# VITE_API_URL=https://your-production-api.com
VITE_API_URL=https://ai-powered-helpdesk.onrender.com
